@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: Helvetica, system-ui, Avenir, Helvetica, Arial, sans-serif;

    /*color scheme*/
    --background-light: white;
    --background-dark: #2c2d2f;
    --background-mid: #5e5f5f;
    --background-darkblue: rgb(22, 1, 74);

    --border-dark: rgb(233, 231, 231);
    --card-grey: #f0f0f0;

    --job-title: #666666;

    --highlight-blue: rgb(88, 177, 250);
    --highlight-green: #4ab577;

    --accent-green: #5ca184;
}

@media (max-width: 1100px) {
    .header {
        flex-direction: column;
    }

    .about-me-body {
        flex-direction: column;
    }

    .about-icon {
        width: 35%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes growIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes shrinkOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.97);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.97);
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--border-dark);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-light);
}

/* Header */

.header-container {
    display: flex;
    flex-direction: column;
}

.header-title {
    font-size: 15rem;
    font-weight: 600;
    color: var(--background-dark);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 0;
}

.header-subtitle {
    font-family: 'Noto Serif', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 7.5rem;
    font-weight: 400;
    color: var(--highlight-green);
    border-radius: 20px;
    text-align: center;
    margin: 0;
}

.header-main {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

@media (max-width: 900px) {
    .header-title {
        font-size: 8rem;
    }

    .header-subtitle {
        font-size: 5rem;
    }

    .header {
        gap: 7.5rem;
    }
}

.accent-full-stop {
    color: var(--highlight-green);
    font-size: 3rem;
    border-radius: 9999px;
}

.nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 98.5vw;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1.25rem;
    background-color: var(--background-light);
    border-bottom: solid 1px var(--border-dark);
}

.hamburger {
    margin-left: 15%;
    cursor: pointer;
}

.nav-social-option {
    color: var(--background-dark);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.nav-social-option:hover {
    color: var(--highlight-green);
}

.socials {
    display: flex;
    gap: 1rem;
    margin-right: 15%;
}

/* About */

#about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
}

.about-me {
    font-family: 'Noto Serif', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: 200;
    padding: 2rem;
    margin-top: 0;
    width: 50%;
    color: var(--background-dark);
}

.call-to-action {
    background-color: var(--highlight-green);
    color: var(--background-light);
    border: 0;
    border-radius: 9999px;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-family: 'Noto Serif', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (max-width: 900px) {
    .about-me {
        width: 80%;
        font-size: 2.25rem;
    }
}

/* Commercial */

.job-card {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-dark);
    border-radius: 10px;
    padding: 2rem;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}

.job-company-title {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    color: var(--highlight-green);
}

.job-personal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--job-title);
    margin: 0;
    padding: 0;
}

.job-title-date-website {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.job-dates {
    font-family: 'Noto Serif', system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--card-grey);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.25rem;
}

.job-company-website {
    font-family: 'Noto Serif', system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--highlight-blue);
    color: var(--background-light);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.25rem;
}

.job-description {
    font-family: 'Noto Serif', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.35rem;
}

.job-tags-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.job-tag {
    flex-grow: 0;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    background-color: var(--accent-green);
    color: var(--background-light);
    font-family: 'Noto Serif', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.25rem
}

@media (max-width: 1050px) {
    .job-title-date-website {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
    .job-card {
        width: 85%;
    }
}

/* Projects */

.section-title {
    text-align: center;
    font-size: 5rem;
    padding-bottom: 1.5rem;
    padding-top: 10rem;
    color: var(--background-dark);
}

.project-type-container {
    text-align: center;
}

#project-type {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--border-dark);
    font-size: 1.5rem;
}

#projects-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 50rem);
    grid-template-rows: auto;
    gap: 2rem;
    width: 92%;
    margin: auto;
    margin-bottom: 2rem;
}

.project {
    height: 28rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

a {
    text-decoration: none;
}

.project-card {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: solid 1px var(--border-dark);
    border-radius: 10px;
}

.project-info-container {
    text-align: center;
}

.project-info-title {
    font-size: 2.5rem;
    color: var(--background-dark);
}

.project-info-description {
    font-size: 1.5rem;
    width: 75%;
    margin: auto;
    font-family: 'Noto Serif', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.project-button {
    border: solid 1px var(--border-dark);
    font-size: 1.5rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.project-button:hover {
    background-color: var(--accent-green);
    color: var(--background-light);
}

@media (max-width: 1050px) {
    .projects-title {
        font-size: 3.5rem;
    }

    #projects-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Footer */

.footer {
    background-color: var(--border-dark);
    padding: 2rem;
    margin-top: 10rem;
}

.footer-text {
    color: var(--background-dark);
    font-size: 1.25rem;
    text-align: center;
}