@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Helvetica, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /*color scheme*/
  --background-light: white;
  --background-dark: #282a2c;
  --background-mid: #5e5f5f;
  --background-darkblue: rgb(22, 1, 74);

  --border-dark: rgb(233, 231, 231);

  --highlight-blue: rgb(88, 177, 250);
  --highlight-green: #4ab577;
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
  }

  .about-me-body {
    flex-direction: column;
  }

  .about-icon {
    width: 35%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes growIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shrinkOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.97);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.97);
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */

.header-container {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 15rem;
  font-weight: 600;
  color: var(--background-dark);
  border-radius: 20px;
  text-align: center;
  margin-bottom: 0;
}

.header-subtitle {
  font-family: 'Noto Serif', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 7.5rem;
  font-weight: 400;
  color: var(--highlight-green);
  border-radius: 20px;
  text-align: center;
  margin: 0;
}

.header-main {
  margin: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 5rem;
  gap: 20rem;
}

@media (max-width: 900px) {
  .header-title {
    font-size: 8rem;
  }
  .header-subtitle {
    font-size: 5rem;
  }
  .header {
    gap: 7.5rem;
  }
}

.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 98.5vw;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 1.25rem;
  background-color: var(--background-light);
  border-bottom: solid 1px var(--border-dark);
}

.hamburger {
  margin-left: 15%;
  cursor: pointer;
}

.nav-social-option {
  color: var(--background-dark);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.nav-social-option:hover {
  color: var(--highlight-blue);
}

.socials {
  display: flex;
  gap: 1rem;
  margin-right: 15%;
}

/* About */

#about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
}

.about-me {
  font-size: 3rem;
  font-weight: 200;
  padding: 2rem;
  text-align: left;
  width: 60%;
  margin-top: 0;
  animation: growIn 1s;
}

@media (max-width: 900px) {
  .about-me {
    width: 80%;
    text-align: center;
  }
}

.about-me-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.js {
  display: inline-block;
  color: var(--highlight-blue);
  font-weight: 400;
}

.react {
  display: inline-block;
  color: var(--highlight-blue);
  font-weight: 400;
}

.hello {
  font-weight: 500;
}

.contents-number {
  font-size: 2.5rem;
  font-weight: 700;
}

.about-icon {
  filter: invert(100%) sepia(14%) saturate(4059%) hue-rotate(49deg)
    brightness(89%) contrast(103%);
  margin: 0;
  padding: 0;
  max-width: 20%;
}

/* Skills */

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#skills-container {
  margin-top: 15%;
  padding-top: 2rem;
  background-color: var(--border-dark);
}

.skills-header {
  text-align: center;
  font-size: 5rem;
  transition: all ease-in-out 0.5s;
}

.technologies {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap; 
  box-sizing: border-box;
  position: relative;
}

.technologies::before,
.technologies::after {
  position: absolute;
  top: 0;
  width: 350px;
  height: 100%;
  content: '';
  z-index: 2; 
}

.technologies::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--border-dark));
}

.technologies::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--border-dark));
}

.technologies:hover .technologies-slide {
  animation-play-state: paused;
}

.technologies-slide {
  display: inline-block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  animation: 15s slide infinite linear;
  z-index: -1;
}

.technologies-slide .skills-image {
  margin: 0 40px;
}

.skills-image {
  height: 10rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.skills-image:hover {
  transform: scale(1.15);
}

@media (max-width: 1050px) {
  .technologies::before,
  .technologies::after {
    width: 150px;
  }

  .skills-header {
    font-size: 3.5rem;
  }

  .skills-image {
    height: 7rem;
  }
}

@keyframes scrollImages {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Projects */

.projects-title {
  text-align: center;
  font-size: 5rem;
  padding-top: 15%;
}

.project-type-container {
  text-align: center;
}

#project-type {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--border-dark);
  font-size: 1.5rem;
}

#projects-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 50rem);
  grid-template-rows: auto;
  gap: 2rem;
  width: 70%;
  margin: auto;
  animation: growIn 1s;
  transition: all ease-in-out 0.5s;
  margin-top: 5%;
}

.project {
  height: 28rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

a {
  text-decoration: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  margin: none;
  border: solid 1px var(--border-dark);
  border-radius: 20px;
}

.project-info-container {
  text-align: center;
}

.project-info-title {
  font-size: 2.5rem;
}

.project-info-description {
  font-size: 1.5rem;
  width: 75%;
  margin: auto;
  font-family: 'Noto Serif', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.project-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 5%;
  padding-bottom: 5%;
}

.project-button {
  border: solid 1px var(--border-dark);
  font-size:1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.project-button:hover {
  background-color: var(--highlight-green);
  color: var(--background-light);
}

@media (max-width: 1050px) {
  .projects-title {
    font-size: 3.5rem;
  }

  #projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Contact */

#contact-container {
  display: flex;
  background-color: var(--highlight-green);
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  padding: 3rem 3rem;
  gap: 1rem;
}

.contact-text {
  color: var(--background-light);
  font-size: 2rem;
}

.email-icon {
  color: var(--background-light);
  cursor: pointer;
  text-decoration: none;
}
