@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Marck+Script&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /*colour scheme*/
  --background-light: white;
  --background-dark: #282a2c;
  --background-mid: #5e5f5f;
  --border-dark: rgb(248, 247, 247);
  --highlight-blue: rgb(88, 177, 250);
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .about-me-body {
    flex-direction: column;
  }

  .about-icon {
    width: 35%;
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes growIn {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes shrinkOut {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(0)
  }
}

@keyframes zoomInLeft {
  0%   { transform: translateX(-100px); }
  100% { transform: translateX(0); }
}

@keyframes zoomInRight {
  0%   { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

@keyframes pulse {
	0% {
		transform: scale(0.97);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.97);
	}
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */

.header-container {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 10rem;
  transition: all ease-in-out 0.2s;
  animation: fadeIn 2s;
  color: var(--background-dark);
  border-radius: 20px;
  text-align: left;
  margin-bottom: 0;
}

.header-subtitle {
  font-size: 5rem;
  color: var(--highlight-blue);
  border-radius: 20px;
  text-align: left;
  margin: 0;
  transition: all ease-in-out 0.25s;
  animation: zoomInLeft 2s;
}

.header-image {
  max-width: 15vw;
  transition: all ease-in-out 0.25s;
  animation: pulse 2s infinite;
  margin-top: 4rem;
  background-color: var(--highlight-blue);
  border-radius: 50%;
}

.header-main {
  margin: 1rem;
  transition: all ease-in-out 0.2s;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 5rem;
  gap: 23.5rem;
}

@media (max-width: 900px) {
  .header-title, .header-subtitle {
    text-align: center;
  }
  .header-image {
    max-width: 50vw;
    margin-top: 0;
  }
  .header {
    gap: 7.5rem;
  }
}

.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 98.5vw;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1.25rem;
  background-color: var(--background-light);
  border-bottom: solid 2px var(--border-dark);
}

.nav-list-container {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style-type: none;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--background-dark);
  flex-wrap: wrap;
  margin-top: 10rem;
  animation: growIn 1s;
  transition: all ease-in-out 0.5s;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
}

.nav-list:hover {
  background-color: var(--border-dark);
}

.nav-button {
  cursor: pointer;
  transition: all ease-in-out 0.25s;
  color: var(--background-dark);
}

.nav-button:hover {
  transform: scale(1.2);
  color: var(--highlight-blue);
}

.hamburger-menu {
  color: var(--background-dark);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.hamburger-menu:hover {
  color: var(--highlight-blue);
}

.hamburger {
  margin-left: 15%;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-right: 15%;
}

/* About */

@keyframes bounceText {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-0.5vh); }
  100% { transform: translateY(0); }
}  

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.about-front-end {
  color: var(--background-dark);
  font-size: 4rem;
  text-wrap: wrap;
  text-align: center;
  font-weight: 300;
  padding: 2rem;
}

.about-me {
  font-family: 'Coming Soon', 'Marck Script', Inter, Impact, sans-serif;
  font-size: 3rem;
  font-weight: 200;
  padding: 2rem;
  text-align: left;
  width: 60%;
  margin-top: 0;
  animation: growIn 1s;
}

@media (max-width: 900px){
  .about-me,
  .about-me-header {
    width: 80%;
  }
}

.about-me-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.js {
  display: inline-block;
  color: var(--highlight-blue);
  font-weight: 400;
}

.react {
  display: inline-block;
  color: var(--highlight-blue);
  font-weight: 400;
}

.hello {
  font-weight: 500;
}

.contents-number {
  font-size: 2.5rem;
  font-weight: 700;
}

.about-icon {
  filter: invert(100%) sepia(14%) saturate(4059%) hue-rotate(49deg) brightness(89%) contrast(103%);
  margin: 0;
  padding: 0;
  max-width: 20%;
}

/* Skills */

.skills-container {
  text-align: center;
  margin-top: 5rem;
  padding-top: 2.5%;
  padding-bottom: 4.5%;
  width: 70%;
  border-radius: 20px;
  margin: auto;
  animation: growIn 1s;
  transition: all ease-in-out 0.5s;
}

.skills-header {
  font-size: 5rem;
  transition: all ease-in-out 0.5s;
  color: var(--background-light);
}

.technologies {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.skills-image {
  max-width: 7rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.skills-image:hover {
  transform: scale(1.15);
}

@keyframes scrollImages {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Projects */

.projects-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  width: 70%;
  margin: auto;
  margin-top: 5rem;
  animation: growIn 1s;
  transition: all ease-in-out 0.5s;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 28rem;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--background-dark);
  font-size: 4rem;
  font-weight: 500;
  color: var(--background-light);
}

.project-name {
  text-align: center;
  color: var(--background-light);
  background-color: var(--highlight-blue);
  font-size: 3rem;
  margin: 0;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: all ease-in-out 0.2s;
}

.project-description {
  font-size: 2.5rem;
  text-align: center;
  background-color: var(--background-dark);
  flex-grow: 1;
  margin: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all ease-in-out 0.2s;
}

a {
  text-decoration: none;
}

.project:hover {
  transform: scale(1.025);
}

@media (max-width: 900px){
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}